Options -MultiViews
RewriteEngine On

# Laisser passer les vrais fichiers/dossiers
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sinon tout vers index.php
RewriteRule ^ index.php [QSA,L]