applications:
  vite-gourmand:
    type: php:8.2

    relationships:
      database: "db:mysql"

    web:
      locations:
        "/":
          root: "front"
          index:
            - "index.html"
          allow: true

        "/api":
          root: "back/public"
          passthru: "/index.php"
          allow: true

services:
  db:
    type: mysql:8.0

routes:
  "https://{default}/":
    type: upstream
    upstream: "vite-gourmand:http"